/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); */
/* @import url('font.css'); */

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

	--font-family: 'Roboto', sans-serif;
	--color-primary: #0360d0;
	--color-second: #0360d0;
	--color-text: #cbcbcb;

	--color-bg-1: #333842;
	--color-bg-2: #282c34;
	--color-bg-3: #21252b;

	--bg-9: rgba(255,255,255,.9);
	--bg-8: rgba(255,255,255,.8);
	--bg-7: rgba(255,255,255,.7);
	--bg-6: rgba(255,255,255,.6);
	--bg-5: rgba(255,255,255,.5);
	--bg-4: rgba(255,255,255,.4);
	--bg-3: rgba(255,255,255,.3);
	--bg-2: rgba(255,255,255,.2);
	--bg-1: rgba(255,255,255,.1);
	--bg-0: rgba(255,255,255,255);
	
	--bg-09: rgba(255,255,255,.09);
	--bg-08: rgba(255,255,255,.08);
	--bg-07: rgba(255,255,255,.07);
	--bg-06: rgba(255,255,255,.06);
	--bg-05: rgba(255,255,255,.05);
	--bg-04: rgba(255,255,255,.04);
	--bg-03: rgba(255,255,255,.03);
	--bg-02: rgba(255,255,255,.02);
	--bg-01: rgba(255,255,255,.01);

  /*
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  */
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	border-spacing: 0;
	border-collapse: collapse;
	box-sizing: border-box;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #25252b;
}
::-webkit-scrollbar-thumb {
  background-color: #101013;
}

#app {
	padding: 0 0px 0px;
	overflow-x: hidden;
	position: relative;
	background-color: rgb(0, 0, 0);
	/* background-image: url(../img/bg2.jpeg); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	display: grid;
	grid-gap: 0px;
	/*grid-template-rows: auto auto 1fr;*/
	grid-template-rows: 1fr;
	grid-template-columns: auto 1fr;
	grid-template-areas: 
		"sidebar main"
		"sidebar main";
}

#app:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0);

	display: none !important;
}

.sidebar {
	grid-area: sidebar;
	background-color: var(--bg-08);
	min-width: 230px;
	list-style: none;
	margin: 0 0;
	padding: 20px 20px;
}
.sidebar li {
	border-radius: 5px;
	padding: 5px 15px;
	margin: 0px 0 5px;
}
.sidebar li.active {
	background-color: #238;
}
.sidebar li:hover {}


.main {
	grid-area: main;
	background-color: var(--bg-1);
	padding: 20px 20px;
	overflow-y: auto;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/